menu "Portal Configuration"

    config PORTAL_WIFI_SSID
        string "Wi-Fi name"
        default "ESP32-Portal"

    config PORTAL_AP_IP_ADDRESS
        string "AP IP address"
        default "192.168.4.1"

endmenu
